body {
    margin: -16px 0 0;
}
#show_area {
    background-color: green;
    height: 1000px;
}
#show_area li{
    display: inline;
    list-style-type: none;
}

#command_area {
    background-color: saddlebrown;
    float: right;
    width:220px;
    height: 300px;
}