@(table:List[logic.game.Card])
@import views.Util.CardFilename

<html>
    <head>
        <title>Poker game</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <div id="show_area">
            <div id="table">
                <ul id="table_cards">
                @for(card <- table){
                    <li>@card_image(table.head)</li>
                }
                </ul>
            </div>
            <div id="hands">
                Hands area
            </div>
        </div>
        <div id ="command_area">
            Command area
        </div>
    </body>
</html>

